[Desktop Entry]
Comment=
Name=Infinitive Desktop\s
X-KDE-PluginInfo-Author=Infinitive Developer team
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=pearinc@icloud.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-Name=Infinitive OS Desktop\s
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=www.infinitive-os.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
